У додатку ви знайдете файл nyt.png, що містить візуалізацію від видання The New York Times. Ваше завдання - відтворити цю візуалізацію максимально близько до оригіналу.
https://www.nytimes.com/interactive/2018/01/18/climate/hottest-year-2017.html
Ви можете використовувати будь-який доступний вам інструмент.

Якщо ви використовуєте код, я очікую від вас посилання на GitHub репозиторій із картинкою та кодом. Якщо ви використовуєте щось на зразок Tableau або Power BI, я очікую від вас посилання на опубліковану візуалізацію. 

Зверніть увагу, що у візуалізації The New York Times дані наводяться у градусах Цельсія, але в даних у csv файлі - ні. Не варто на цьому етапі переводити одну розмірність в іншу, просто відтворіть структуру візуалізації на основі цих даних. Також зверніть увагу, що вам потрібно буде трохи трансформувати дані (в Pandas це можна зробити за допомогою методів wide to long або melt)

![alt](predicted.png "Image")

In [161]:
import sys
!{sys.executable} -m pip install pandas altair

Requirement already satisfied: pandas in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (1.3.3)
Requirement already satisfied: altair in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (4.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: entrypoints in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from altair) (0.3)
Requirement already satisfied: jinja2 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from altair) (3.0.2)
Requirement already satisfied: toolz in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from altair) (0.11.1)
Requirement already satisfied: jsonschema in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from altair) (4.0.1)
Requirement already satisfied: six>=1.5 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from jinja2->altair) (2.0.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from jsonschema->altair) (21.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/mykyta/aastudy/visual/venv/lib/python3.8/site-packages (from jsonschema->altair) (0.18.0)

In [162]:
import pandas as pd
import altair as alt

# setting needed theme
alt.themes.enable("fivethirtyeight")

ThemeRegistry.enable('fivethirtyeight')

In [163]:
# importing data
df = pd.read_csv('data.csv', skiprows=[0])
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.29,-0.18,-0.11,-0.19,-0.11,-0.23,-0.21,-0.09,-0.16,-0.23,-0.20,-0.23,-0.19,***,***,-0.14,-0.18,-0.20
1,1881,-0.15,-0.17,0.04,0.04,0.02,-0.20,-0.06,-0.02,-0.13,-0.20,-0.21,-0.10,-0.10,-.11,-.18,0.03,-0.09,-0.18
2,1882,0.15,0.15,0.04,-0.18,-0.16,-0.26,-0.20,-0.05,-0.10,-0.24,-0.16,-0.24,-0.10,-.09,.06,-0.10,-0.17,-0.17
3,1883,-0.31,-0.39,-0.13,-0.17,-0.20,-0.12,-0.08,-0.15,-0.20,-0.14,-0.22,-0.16,-0.19,-.20,-.31,-0.16,-0.12,-0.19
4,1884,-0.15,-0.08,-0.37,-0.42,-0.36,-0.40,-0.34,-0.26,-0.27,-0.24,-0.30,-0.28,-0.29,-.28,-.13,-0.39,-0.34,-0.27

In [164]:
# calculating average temperature by year in separate column
df['average_temp'] = df.iloc[:, [1,2,3,4,5,6,7,8,9,10,11,12]].mean(axis=1)
# dropping all columns, except for year and average temp
df.drop(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'J-D', 'D-N', 'DJF', 'MAM', 'JJA', 'SON'], axis=1, inplace = True)
df.head()

   Year  average_temp
0  1880     -0.185833
1  1881     -0.095000
2  1882     -0.104167
3  1883     -0.189167
4  1884     -0.289167

In [165]:
# calculating average t for 19 century
average_temp_19_cent = df.loc[df['Year'] < 1900].mean().average_temp
print(average_temp_19_cent)

-0.22804166666666664

In [166]:
# making this average as 0 of our graph
df['average_temp'] += -average_temp_19_cent

In [167]:
main_chart = alt.Chart(df).mark_point(color = 'grey', 
                         fill = '#f26c08', 
                         size = 100, 
                         opacity = 1,
                         strokeWidth = 1).encode(
    x = alt.X(field='Year',
              type='quantitative',
              title = '',
              axis = alt.Axis(tickCount = 14, labelColor="Grey", labelFontSize=13),
              scale=alt.Scale(zero=False)),
    y = alt.Y(field='average_temp',
              type='quantitative',
              title = '',
              axis = alt.Axis(tickCount = 9, labelColor="Grey", labelFontSize=13),
              scale=alt.Scale(zero=False)),
)

# horisontal line
rule = alt.Chart(pd.DataFrame({'y': [0]})).mark_rule(text='doffffffdays').encode(y='y')

(main_chart + rule).properties(width = 900, height = 500, background = '#F9F9F9', padding = 25)

alt.LayerChart(...)

Actual result:
![alt](actual.png "Image")